<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>商家入驻申请</title>
    <link rel="stylesheet" type="text/css" href="css/webbase.css"/>
    <link rel="stylesheet" type="text/css" href="css/pages-register.css"/>
</head>

<body>
<div id="app">
    <div class="register py-container ">
        <!--head-->
        <div class="logoArea">
            <a href="" class="logo"></a>
        </div>
        <!--register-->
        <div class="registerArea">
            <h3>商家入驻申请<span class="go">我有账号，去<a href="logins.html" target="_blank">登陆</a></span></h3>
            <div class="info">
                <form class="sui-form form-horizontal">

                    <div class="control-group">
                        <label class="control-label">登陆名：</label>
                        <div class="controls">
                            <label for="nickName"></label><input type="text" placeholder="登陆名" class="input-xfat input-xlarge" v-model="fromdata.nickName"
                                                                 @blur="nickName()" id="nickName">
                            <span><span id="spanNickName" style="color: red; "></span></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">账号：</label>
                        <div class="controls">
                            <label for="username"></label><input type="text" placeholder="账号" class="input-xfat input-xlarge" v-model="fromdata.username"
                                                                 @blur="username()" id="username">
                            <span><span id="spanUsername" style="color: red; "></span></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">密码：</label>
                        <div class="controls">
                            <label for="password"></label><input type="password" placeholder="登陆密码" class="input-xfat input-xlarge" v-model="fromdata.password"
                                                                 @blur="password()" id="password">
                            <span><span id="spanPassword" style="color: red; "></span></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"></label>
                        <div class="controls btn-reg">
                            <label>
                                <input value="申请入驻" class="sui-btn btn-block btn-xlarge btn-danger" @click="register()"/>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--foot-->
        <div class="py-container copyright">
            <ul>
                <li>关于我们</li>
                <li>联系我们</li>
                <li>联系客服</li>
                <li>商家入驻</li>
                <li>营销中心</li>
                <li>手机快刻网</li>
                <li>销售联盟</li>
                <li>快刻网社区</li>
            </ul>
            <div class="address">地址：武汉市洪山区鲁磨路568号（地质大学旁）</div>
            <div class="beian">鄂ICP备11007753号-8
            </div>
        </div>
    </div>
</div>

<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="plugins/adminLTE/js/main.js"></script>
<script src="plugins/adminLTE/js/vue-2.6.10.js"></script>
<script src="plugins/adminLTE/js/axios.min.js"></script>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            fromdata: {}
        },
        methods: {
            nickName() {
                let nickName = $("#nickName").val();
                if (nickName.length > 0) {
                    $("#nickName").css("border-color", "green")
                    $("#spanNickName").html("")
                } else {
                    $("#nickName").css("border-color", "red")
                    $("#spanNickName").html("用户名不能为空")
                }
            },
            username() {
                let username = $("#username").val();
                if (username.length > 0) {
                    $("#username").css("border-color", "green")
                    $("#spanUsername").html("")
                } else {
                    $("#username").css("border-color", "red")
                    $("#spanUsername").html("该账户不能为空")
                }
            },
            password() {
                let password = $("#password").val();
                if (password.length > 0) {
                    $("#password").css("border-color", "green")
                    $("#spanPassword").html("")
                } else {
                    $("#password").css("border-color", "red")
                    $("#spanPassword").html("密码不能为空")
                }
            },
            register() {
                let data = new FormData()
                data.append('username', this.fromdata.username);
                data.append('password', this.fromdata.password);
                data.append('nickName', this.fromdata.nickName);
                let config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }
                axios.post('/user/register', data, config).then(res => {
                    console.log(res.data)
                    if (res.data.code === 200) {
                        location.href = "admin/user.html";
                    } else {
                        alert(res.data.message);
                        location.href = "login.html";
                    }
                }).catch(res => {
                    console.log(res)
                })
            }
        }
    })
</script>
</html>