<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>修改密码</title>
    <link rel="stylesheet" type="text/css" href="css/webbase.css"/>
    <link rel="stylesheet" type="text/css" href="css/pages-register.css"/>
</head>

<body>
<div id="app">
    <div class="register py-container ">
        <!--head-->
        <div class="logoArea">
            <a href="" class="logo"></a>
        </div>
        <!--register-->
        <div class="registerArea">
            <h3>修改密码</h3>
            <div class="info">
                <form class="sui-form form-horizontal">

                    <div class="control-group">
                        <label class="control-label">原密码：</label>
                        <div class="controls">
                            <label for="original_password"></label><input type="text" placeholder="原密码"
                                                                          class="input-xfat input-xlarge"
                                                                          v-model="fromdata.original_password"
                                                                          id="original_password">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">新密码：</label>
                        <div class="controls">
                            <label for="new_password"></label><input type="password" placeholder="新密码"
                                                                     class="input-xfat input-xlarge"
                                                                     v-model="fromdata.new_password"
                                                                     id="new_password">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">确认密码：</label>
                        <div class="controls">
                            <label for="confirm_password"></label><input type="password" placeholder="确认密码"
                                                                     class="input-xfat input-xlarge"
                                                                     @blur="password()"
                                                                     id="confirm_password">
                        </div>
                        <span><span id="spanPassword" style="color: red; "></span></span>
                    </div>

                    <div class="control-group">
                        <label class="control-label"></label>
                        <div class="controls btn-reg">
                            <label>
                                <input value="修改" class="sui-btn btn-block btn-xlarge btn-danger" @click="update()"/>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="plugins/adminLTE/js/main.js"></script>
<script src="plugins/adminLTE/js/vue-2.6.10.js"></script>
<script src="plugins/adminLTE/js/axios.min.js"></script>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            fromdata: {}
        },
        methods: {
            password() {
                let new_password = $("#new_password").val();
                let confirm_password = $("#confirm_password").val();
                if (new_password === confirm_password) {
                    $("#spanPassword").html("")
                } else {
                    $("#spanPassword").html("两次密码不一致，请重新输入")
                }
            },
            update() {
                axios.post('/user/updatePassword', this.fromdata).then(res => {
                    if (res.data.code === 200) {
                        alert("密码"+res.data.message+"请重新登录")
                        location.href = "login.html";
                    } else {
                        alert(res.data.message);
                    }
                }).catch(res => {
                    console.log(res)
                })
            }
        }
    })
</script>
</html>