<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>添加商品信息</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/adminLTE/js/vue-2.6.10.js"></script>
    <script src="../plugins/adminLTE/js/axios.min.js"></script>
    <script src="../plugins/adminLTE/js/main.js"></script>
    <script src="../plugins/adminLTE/js/jquery-2.1.0.min.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini">

<div id="app">
    <!-- 正文区域 -->
    <section class="content">

        <div class="box-body">

            <!--tab页-->
            <div class="nav-tabs-custom">

                <!--tab头-->
                <ul class="nav nav-tabs">

                    <li class="active">
                        <a href="#home" data-toggle="tab">添加产品信息</a>
                    </li>
                </ul>
                <!--tab头/-->

                <!--tab内容-->
                <div class="tab-content">

                    <!--表单内容-->
                    <div class="tab-pane active" id="home">
                        <div class="row data-type">

                            <div class="col-md-2 title"><font color="red">*</font>产品名称</div>
                            <div class="col-md-10 data">
                                <input type="text" class="form-control" placeholder="产品名称" v-model="fromdata.prdName"
                                       @blur="prdName()" id="prdName">
                            </div>

                            <div class="col-md-2 title"></div>
                            <div class="col-md-10 data">
                                <span><font color="red" id="spanPrdName"></font></span>
                            </div>

                            <div class="col-md-2 title"><font color="red">*</font>产品代码</div>
                            <div class="col-md-10 data">
                                <input type="text" class="form-control" placeholder="产品代码" v-model="fromdata.prdDm"
                                       @blur="prdDm()" id="prdDm">
                            </div>

                            <div class="col-md-2 title"></div>
                            <div class="col-md-10 data">
                                <span><font color="red" id="spanPrdDm"></font></span>
                            </div>

                            <div class="col-md-2 title"><font color="red">*</font>净值</div>
                            <div class="col-md-10 data">
                                <input type="text" class="form-control" placeholder="净值" v-model="fromdata.net"
                                       @blur="net()" id="net">
                            </div>

                            <div class="col-md-2 title"></div>
                            <div class="col-md-10 data">
                                <span><font color="red" id="spanNet"></font></span>
                            </div>

                            <div class="col-md-2 title"><font color="red">*</font>份额</div>
                            <div class="col-md-10 data">
                                <input type="text" class="form-control" placeholder="份额" v-model="fromdata.fbalance"
                                       @blur="fbalance()" id="fbalance">
                            </div>

                            <div class="col-md-2 title"></div>
                            <div class="col-md-10 data">
                                <span><font color="red" id="spanFbalance"></font></span>
                            </div>

                            <div class="col-md-2 title"><font color="red">*</font>金额</div>
                            <div class="col-md-10 data">
                                <input type="text" class="form-control" placeholder="金额" v-model="fromdata.favalable"
                                       @blur="favalable()" id="favalable">
                            </div>

                            <div class="col-md-2 title"></div>
                            <div class="col-md-10 data">
                                <span><font color="red" id="spanFavalable"></font></span>
                            </div>

                            <div class="col-md-2 title"><font color="red">*</font>机构名称</div>
                            <div class="col-md-10 data">
                                <input type="text" class="form-control" placeholder="机构名称" v-model="fromdata.insName"
                                       @blur="insName()" id="insName">
                            </div>

                            <div class="col-md-2 title"></div>
                            <div class="col-md-10 data">
                                <span><font color="red" id="spanInsName"></font></span>
                            </div>

                            <div class="col-md-2 title"><font color="red">*</font>机构代码</div>
                            <div class="col-md-10 data">
                                <input type="text" class="form-control" placeholder="机构代码" v-model="fromdata.insDm"
                                       @blur="insDm()" id="insDm">
                            </div>

                            <div class="col-md-2 title"></div>
                            <div class="col-md-10 data">
                                <span><font color="red" id="spanInsDm"></font></span>
                            </div>

                        </div>
                    </div>
                </div>
                <!--tab内容/-->
                <!--表单内容/-->
            </div>
        </div>
        <div class="btn-toolbar list-toolbar">
            <button class="btn btn-primary" @click="add()"><i class="fa fa-save"></i>保存</button>
        </div>

    </section>
    <!-- 正文区域 /-->
</div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            fromdata: {},
        },
        methods: {
            prdName() {
                var prdName = $("#prdName").val();
                if (prdName.length > 0) {
                    $("#prdName").css("border-color", "green")
                    $("#spanPrdName").html("")
                } else {
                    $("#prdName").css("border-color", "red")
                    $("#spanPrdName").html("该产品名称不能为空")
                }
            },
            prdDm() {
                var prdDm = $("#prdDm").val();
                if (prdDm.length > 0) {
                    $("#prdDm").css("border-color", "green")
                    $("#spanPrdDm").html("")
                } else {
                    $("#prdDm").css("border-color", "red")
                    $("#spanPrdDm").html("该产品代码不能为空")
                }
            },
            net() {
                var net = $("#net").val();
                if (net.length > 0) {
                    $("#net").css("border-color", "green")
                    $("#spanNet").html("")
                } else {
                    $("#net").css("border-color", "red")
                    $("#spanNet").html("该净值不能为空")
                }
            },
            fbalance() {
                var fbalance = $("#fbalance").val();
                if (fbalance.length > 0) {
                    $("#fbalance").css("border-color", "green")
                    $("#spanFbalance").html("")
                } else {
                    $("#fbalance").css("border-color", "red")
                    $("#spanFbalance").html("该份额不能为空")
                }
            },
            favalable() {
                var favalable = $("#favalable").val();
                if (favalable.length > 0) {
                    $("#favalable").css("border-color", "green")
                    $("#spanFavalable").html("")
                } else {
                    $("#favalable").css("border-color", "red")
                    $("#spanFavalable").html("该金额不能为空")
                }
            },
            insName() {
                var insName = $("#insName").val();
                if (insName.length > 0) {
                    $("#insName").css("border-color", "green")
                    $("#spanInsName").html("")
                } else {
                    $("#insName").css("border-color", "red")
                    $("#spanInsName").html("该机构名称不能为空")
                }
            },
            insDm() {
                var insDm = $("#insDm").val();
                if (insDm.length > 0) {
                    $("#insDm").css("border-color", "green")
                    $("#spanInsDm").html("")
                } else {
                    $("#insDm").css("border-color", "red")
                    $("#spanInsDm").html("该机构代码不能为空")
                }
            },
            add() {
                axios.post("/product/add", this.fromdata).then(res => {
                    console.log(res.data.code)
                    if (res.data.code == 401) {
                        alert(res.data.data)
                        location.href = "/login.html";
                    } else if (res.data.code == 403) {
                        alert(res.data.data)
                    } else if (res.data.code == 200) {
                        location.href = "product.html";
                    } else {
                        alert(res.data.message)
                    }
                })
            }
        }
    })
</script>
</html>