<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>修改商品信息</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/adminLTE/js/vue-2.6.10.js"></script>
    <script src="../plugins/adminLTE/js/axios.min.js"></script>
    <script src="../plugins/adminLTE/js/getParameter.js"></script>
    <script src="../plugins/adminLTE/js/main.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini">

<div id="app">
    <!-- 正文区域 -->
    <section class="content">

        <div class="box-body">

            <!--tab页-->
            <div class="nav-tabs-custom">

                <!--tab头-->
                <ul class="nav nav-tabs">

                    <li class="active">
                        <a href="#home" data-toggle="tab">修改商品信息</a>
                    </li>
                </ul>
                <!--tab头/-->

                <!--tab内容-->
                <div class="tab-content">

                    <!--表单内容-->
                    <div class="tab-pane active" id="home">
                        <div class="row data-type">

                            <div class="col-md-2 title">产品名称</div>
                            <div class="col-md-10 data">
                                <input type="text" class="form-control" placeholder="产品名称" v-model="fromdata.prdName">
                            </div>

                            <div class="col-md-2 title">产品代码</div>
                            <div class="col-md-10 data">
                                <input type="text" class="form-control" readonly placeholder="产品代码" v-model="fromdata.prdDm">
                            </div>

                            <div class="col-md-2 title">净值</div>
                            <div class="col-md-10 data">
                                <input type="text" class="form-control" readonly placeholder="净值" v-model="fromdata.net">
                            </div>

                            <div class="col-md-2 title">份额</div>
                            <div class="col-md-10 data">
                                <input type="text" class="form-control" readonly placeholder="份额" v-model="fromdata.fbalance">
                            </div>

                            <div class="col-md-2 title">金额</div>
                            <div class="col-md-10 data">
                                <input type="text" class="form-control" readonly placeholder="金额" v-model="fromdata.favalable">
                            </div>

                            <div class="col-md-2 title">机构名称</div>
                            <div class="col-md-10 data">
                                <input type="text" class="form-control" placeholder="机构名称" v-model="fromdata.insName">
                            </div>

                            <div class="col-md-2 title">机构代码</div>
                            <div class="col-md-10 data">
                                <input type="text" class="form-control" readonly placeholder="机构代码" v-model="fromdata.insDm">
                            </div>

                            <div class="col-md-2 title">日期</div>
                            <div class="col-md-10 data">
                                <input type="date" class="form-control" readonly placeholder="日期" v-model="fromdata.newDate">
                            </div>

                            <div class="col-md-2 title">当前时间</div>
                            <div class="col-md-10 data">
                                <input type="datetime-local" class="form-control" readonly placeholder="当前时间" v-model="fromdata.newTime">
                            </div>

                        </div>
                    </div>
                </div>
                <!--tab内容/-->
                <!--表单内容/-->
            </div>
        </div>
        <div class="btn-toolbar list-toolbar">
            <button class="btn btn-primary" @click="update()"><i class="fa fa-save"></i>保存</button>
        </div>

    </section>
    <!-- 正文区域 /-->
</div>
</body>
<script>
    var id = getParameter("id");
    new Vue({
        el: "#app",
        data: {
            fromdata: {},
        },
        methods: {
            update: function () {
                axios.post("/product/update", this.fromdata).then(res => {
                    console.log(res.data.code)
                    if (res.data.code == 401) {
                        alert(res.data.data)
                        location.href = "http://localhost:8080/login.html";
                    } else if (res.data.code == 403) {
                        alert(res.data.data)
                    } else if (res.data.code == 200) {
                        location.href = "product.html";
                    } else {
                        alert(res.data.message)
                    }
                })
            }
        },
        created() {
            axios.get("/product/findById", {
                params: {
                    id: id
                }
            }).then(d => {
                this.fromdata = d.data.data
            })
        }
    })
</script>
</html>