<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncamc.mapper.UserMapper">

    <update id="updateNumberById">
        update sys_user
        set `number` = #{number,jdbcType=NUMERIC}+1
        where
        id = #{id,jdbcType=NUMERIC}
    </update>

    <update id="updateStatusById">
        update sys_user
        set status = #{status,jdbcType=VARCHAR}
        where
        id = #{id,jdbcType=NUMERIC}
    </update>

    <update id="chongZhiNumberById">
        update sys_user
        set `number` = #{number,jdbcType=NUMERIC}
        where
        id = #{id,jdbcType=NUMERIC}
    </update>

    <update id="updatePasswordById">
        update sys_user
        set password = #{password,jdbcType=VARCHAR}
        where
        id = #{id,jdbcType=NUMERIC}
    </update>

    <select id="FindAll" resultType="com.ncamc.entity.User">
        select  * from sys_user
    </select>

    <insert id="saveLoginTime">
        insert into sys_login_time
            (`name`,
             `time`,
             `status`)
        VALUES (#{params.name,jdbcType=VARCHAR},
                now(),
                #{params.status,jdbcType=VARCHAR});
    </insert>

    <select id="getLoginTime" resultType="java.lang.String">
        select max(`time`) 'time' from sys_login_time where `name` = #{username,jdbcType=VARCHAR};
    </select>
</mapper>